.Landing__img {
    height: 100vh;
    object-fit: contain;
    opacity: 0.9;
}

.landing {
    display: grid;
    grid-template-columns: 3fr  2fr;
    justify-items: center;
    align-items: center;
}

.landing__link{
    text-decoration: none;
    color: var(--baby-blue);
}

.landing__link:hover{
    transform: translateY(-0.2rem);
    transition: var(--transition);
    color: var(--black);
    border-bottom: 1px solid var(--black);
}

.landing__title:hover {
    color: var(--baby-blue);
    transition: var(--transition);
}

