*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --baby-blue: #89CFF0;
    --black : #070606;

    --transition: all 500ms ease;
    
}

html, body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: var(--black);
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: var(--baby-blue);
}

a:hover{
    transform: translateY(-0.2rem);
    transition: var(--transition);
    color: var(--black);
}

footer, nav {
    background-color: var(--baby-blue);
}

.btn-blue {
    background-color: var(--baby-blue);
}

.btn-blue:hover{
    border: 1px solid var(--baby-blue);
}

