.map__container {
   height: 100vh; 
   width: 100%;
}

.marker__container {
    position: absolute;
    z-index: 1; 
    cursor: pointer;
}

.marker__container:hover {
    z-index: 2;
    transform: translate(-5%, -5%);
    transition: var(--transition);
}

.card-subtitle{
    font-size: 0.7rem;
}

.card-top-img {
    height: 4rem;
    width: 100%;
}

.rating{
    font-size: 20rem;
}

input:placeholder-shown {
    width: 12rem;
    padding: 0.5rem 0.4rem;
    font-size: 0.8rem;
    position: absolute;
    right: 2rem;
  }

.search__btn {
    font-size: 1.6rem;
}